.gg {
    background-color: rgb(5, 5, 136);
    padding: 5px;
    color: white;
    text-decoration: none;
    border-radius: 10px;

}
.g {
        text-decoration: none;
        background-color: white;
        border: 1px solid rgb(5, 5, 136);
        border-radius: 10px;
        padding: 5px;
}
nav a {
    margin: 35px;
}
body {
    font-family: sans-serif;
}
header {
background-color: aqua;
    border-radius: 10px;
    padding: 10px;
}
main h1 {
    color: orange;
}
footer {
    background-color: burlywood;
    padding: 10px;
}
footer p {
    background-color: white;
}
.produkti {
    background-color: burlywood;
    border-radius: 10px;
color: whitesmoke;
}
.discount {
    color: blue;
}
